<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <button mat-raised-button color="primary" (click)="homePageClicked()">Home Page</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>ZooKeeper dashboard</span>
    </mat-toolbar>
    <div>
      <h1>Nodes: {{znodePath}}</h1>
    </div>
    <div>
      <h1>Content: </h1>
      <div *ngIf="znodeContent">
        <pre>{{znodeContent}}</pre>
      </div>
    </div>
    <div>
      <h1>Children: </h1>
    </div>
    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

      <ng-container matColumnDef="node">
        <div *matHeaderCellDef>#</div>
        <div *matCellDef="let node">{{node}}</div>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

    </mat-table>
  </mat-sidenav-content>
</mat-sidenav-container>
